/* CSS Document */

* {
    box-sizing: border-box;
}
	html,body{
		margin: 0;
		padding: 0;
	}
#myHeader{
	position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 20px ;
}
	img{
		width:100%; margin: auto;
	}
	video{
		
		width:100%;
		height:auto;
	}
	#logo {
		width: inherit;
		cursor: pointer;
			z-index: 2;
		width:200px;
		float: left;
	}
	#LogoDiv{
		
		width: inherit;
		cursor: pointer;
			z-index: 2;
	}
	#scrollBtn{
		width: 59px;
		height: 43px;
		position: absolute;
		top:90%;
		margin: auto;
		left:46%;
		color:white;
		background: none;
		border:0;
		outline: 0;
	}
	#nav-menu{
		width:26px;
		float: right;	
		cursor: pointer;
			z-index: 2;
	}
	#nav-menu img{
	width:20px;
	}
	.cursor-pointer{
	cursor: pointer;
	}
	#myVideo{
		position: absolute;
		z-index: 0;
		clear:both;
    position: relative;
    height: auto;
    top: 0;
		min-height: 100%;
	}
	
/* side Nav bar*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100;Neutral+Density */
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */
}
.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
	
	background:rgba(21, 20, 20, 0.65);
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
